<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz_verify.css' %}" >
    <title>Login</title>
</head>
<body>

<div class="login_form">
<div class="headcontainer"><p>Django-Quiz</p></div>
<br>
<!-- {% for key,items in request.session.items %}
<div>{{key}} {{items}}  </div>
{% endfor %} -->
<form class="row" method="POST" >
    {%csrf_token%}
   <div class="col">
    <label for="enrollment_key"class="field">Enrollment key</label>
    <input type="text"   id="enrollment_key" name="enrollment_key" class="input"></input>
    </div>
  <br>


    <input type="submit" value="start" class="button"></input>
    <br>
 

 
</form>
</div>
    
</body>
</html>