<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'quiz.css' %}" >
    <title>Login</title>
</head>
<body>

<div class="quiz">
<div class="headcontainer"><p>Quiz</p></div>
{% for question in questions %}
<div>{{question.question}}</div>
    {% for answer in question.answer.all %}
        <div>{{answer.answer}}</div>
    {%endfor%}
{%endfor%}

</div>
    
</body>
</html>